{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Laboratorna_1</title>
	<link rel="stylesheet" href="{% static 'Galayko_App/css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'Galayko_App/css/style.css' %}">
</head>
<body>

	<h1>Виконала студентка групи 35 фізико-математичного факультету Галайко О.Ю., варіант 1</h1>

	<header class="header">
		<div class="container">
			<section class="header_top">

				<h2>Site for Escape</h2>
				<div class="logo">
					<a href="#">
						<img alt="logo" src="{% static 'Galayko_App/images/logo.png' %}">
					</a>
				</div>

				<nav class="menu">
					<div class="menu_btn">
						<span></span>
					</div>
					<ul class="menu_list">
						<li><a href="#">Home</a></li>
						<li><a href="#">Services</a></li>
						<li><a href="#">Clients</a></li>
						<li><a href="#">Team</a></li>
						<li><a href="#">Contact</a></li>
					</ul>
				</nav>

			</section>

			<section class="header_center">
				
					<div class="header_content_info">
						<p class="header_content_title_top">Can you build the website of my dreams?</p>

						<h3 class="header_content_title">
						Yup, we can do that.
						</h3>

						<a class="header_content_btn" href="#">Learn More</a>
					</div>

			</section>
		</div> 
	</header>

	<section class="two_descriptions">

			<h2>Site for Escape</h2>
			<div class="web-development_box">			
				<div class="web-development_info">
					<p class="web-development_title">Web <b>Development</b></p>
					<div class="web-development_text">
						<p>Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt. Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt.</p>
							<br>
						<p>Iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt. Proin iaculis purus consequat sem cure digni ssim.</p>
					</div>
				</div>
				<div class="web-development_image">
					<img alt="icon" src="{% static 'Galayko_App/images/icon1.png' %}">
				</div>
			</div>

			<div class="identity-box_box_color">
			<div class="identity-box_box">
				<div class="identity-box_image">
					<img alt="icon" src="{% static 'Galayko_App/images/icon2.png' %}">
				</div>			
				<div class="identity-box_info">
					<div class="web-development_title">Identity <b>Branding</b></div>
					<div class="web-development_text">
						<p>Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt. Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit.</p>
							<br>
						<p>Iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt. Proin iaculis purus consequat.</p>
					</div>
				</div>
			</div>
		</div>
	
	</section>

	<h2>Site for Escape</h2>

	<section class="items">

		<h2>Site for Escape</h2>

		<div class="container">
			<div class="block_for_items">
					<div class="left_column">
				<div class="block_item">
					<div class="item_image">
						<img alt="icon" src="{% static 'Galayko_App/images/item-icon1.png' %}">
					</div>
					<div class="item_info">
						<p class="item_title">Branding & Identity</p>
						<p class="item_text">Proin iaculis purus consequat sem cure 
						digni ssim. Donec porttitora entum suscipit 
						aenean rhoncus posuere odio in tincidunt.</p>
					</div>
				</div>

				<div class="block_item">
					<div class="item_image">
						<img alt="icon" src="{% static 'Galayko_App/images/item-icon2.png' %}">
					</div>
					<div class="item_info">
						<p class="item_title">Mobile App Development</p>
						<p class="item_text">Proin iaculis purus consequat sem cure 
						digni ssim. Donec porttitora entum suscipit 
						aenean rhoncus posuere odio in tincidunt.</p>
					</div>
				</div>

				<div class="block_item">
					<div class="item_image">
						<img alt="icon" src="{% static 'Galayko_App/images/item-icon3.png' %}">
					</div>
					<div class="item_info">
						<p class="item_title">UI/UX</p>
						<p class="item_text">Proin iaculis purus consequat sem cure 
						digni ssim. Donec porttitora entum suscipit 
						aenean rhoncus posuere odio in tincidunt.</p>
					</div>
				</div></div>

					<div class="right_column">
				<div class="block_item">
					<div class="item_image">
						<img alt="icon" src="{% static 'Galayko_App/images/item-icon4.png' %}">
					</div>
					<div class="item_info">
						<p class="item_title">Web & Graphic Design</p>
						<p class="item_text">Proin iaculis purus consequat sem cure 
						digni ssim. Donec porttitora entum suscipit 
						aenean rhoncus posuere odio in tincidunt.</p>
					</div>
				</div>

				<div class="block_item">
					<div class="item_image">
						<img alt="icon" src="{% static 'Galayko_App/images/item-icon5.png' %}">
					</div>
					<div class="item_info">
						<p class="item_title">Web & Graphic Design</p>
						<p class="item_text">Proin iaculis purus consequat sem cure 
						digni ssim. Donec porttitora entum suscipit 
						aenean rhoncus posuere odio in tincidunt.</p>
					</div>
				</div>

				<div class="block_item">
					<div class="item_image">
						<img alt="icon" src="{% static 'Galayko_App/images/item-icon6.png' %}">
					</div>
					<div class="item_info">
						<p class="item_title">Photography</p>
						<p class="item_text">Proin iaculis purus consequat sem cure 
						digni ssim. Donec porttitora entum suscipit 
						aenean rhoncus posuere odio in tincidunt.</p>
					</div>
				</div></div>

			</div>
		</div>
	</section>

	<section class="clients_reviews">
		
		<h2>Site for Escape</h2>

		<div class="container">

			<div class="reviews_title">
				<p class="reviews_title_title">Awesome <b>Clients</b></p>
				<p class="reviews_title_title_subtitle">See what nice things our clients said about us.</p>
			</div>
			<div class="reviews_items">

				<div class="review_item">
					<div class="review_item_img">
						<img alt="icon" src="{% static 'Galayko_App/images/review_img.png' %}">
					</div>
					<div class="review_text_block">
						<p class="review_text">
							“ Proin iaculis purus consequat sem cure  digni ssim 
							donec porttitora entum suscipit aenean rhoncus. ”
						</p>
						<p class="review_client_name">
							- Jamie Richardson, Founder of Cocoa Media
						</p>
					</div>
				</div>

				<div class="review_item1">
					<div class="review_text_blockl">
						<p class="review_text">
							“ Proin iaculis purus consequat sem cure  digni ssim 
							donec porttitora entum suscipit aenean rhoncus. ”
						</p>
						<p class="review_client_name">
							- Bart Thompson, Founder of Rainel
						</p>
					</div>
					<div class="review_item_img">
						<img alt="icon" src="{% static 'Galayko_App/images/review_img.png' %}">
					</div>
				</div>

			</div>

		</div>

	</section>

	<div class="container">
	<section class="partners">

		<h2>Site for Escape</h2>

		<img alt="icon" src="{% static 'Galayko_App/images/envato.png' %}">
		<img alt="icon" src="{% static 'Galayko_App/images/WordPress.png' %}">
		<img alt="icon" src="{% static 'Galayko_App/images/tuts+.png' %}">
		<img alt="icon" src="{% static 'Galayko_App/images/microlancer.png' %}">
	</section>
	</div>

	<section class="team">

		<h2>Site for Escape</h2>
		
		<div class="container">
			<div class="team_title">
				<p class="team_title_title">Amazing <b>Team</b></p>
				<p class="team_title_title_subtitle">These wonderful people make work enjoyable.</p>
			</div>
			<div class="team_items">

				<div class="team_item">
					<div class="team_img"><img alt="img" src="{% static 'Galayko_App/images/team_foto.png' %}"></div>
					<div class="team_text">
						<p class="team_name"><b>Kimberly Thompson</b></p>
						<p class="team_prof">Marketer</p>
					</div>
					<div class="icons">
						<img alt="img" src="{% static 'Galayko_App/images/twitter.png' %}">
						<img alt="img" class="center_icon" src="{% static 'Galayko_App/images/facebook.png' %}">
						<img alt="img" src="{% static 'Galayko_App/images/pinterest.png' %}">
					</div>
				</div>
				<div class="team_item">
					<div class="team_img"><img alt="img" src="{% static 'Galayko_App/images/team_foto.png' %}"></div>
					<div class="team_text">
						<p class="team_name"><b>Rico Massimo</b></p>
						<p class="team_prof">Coder</p>
					</div>
					<div class="icons">
						<img alt="img" src="{% static 'Galayko_App/images/twitter.png' %}">
						<img class="center_icon" alt="img" src="{% static 'Galayko_App/images/facebook.png' %}">
						<img alt="img" src="{% static 'Galayko_App/images/google+.png' %}">
					</div>
				</div>
				<div class="team_item3">
					<div class="team_img"><img alt="img" src="{% static 'Galayko_App/images/team_foto.png' %}"></div>
					<div class="team_text">
						<p class="team_name"><b>Uku Mason</b></p>
						<p class="team_prof">Graphic Designer</p>
					</div>
					<div class="icons">
						<img class="center_icon" alt="img" src="{% static 'Galayko_App/images/facebook.png' %}">
						<img alt="img" src="{% static 'Galayko_App/images/pinterest.png' %}">
					</div>
				</div>

			</div>

			<p class="team_bottom_text">
				Proin iaculis purus consequat sem cure  digni ssim donec porttitora entum suscipit  
				aenean rhoncus posuere odio in tincidunt proin iaculis.
			</p>

		</div>

	</section>

	<footer class="footer">
		
		<div class="container">
			
			<section class="main_footer">

				<h2>Site for Escape</h2>

				<div class="footer_info">
					<div class="footer_info_text">
						<p class="footer_info_text_title">Say <b>Hello</b></p>
						<p class="footer_info_text_subtitle">
							Don’t be shy, drop us an email and say hello! We are a really nice 
							bunch of people :)
						</p>
					</div>
					<div class="footer_info_items">

						<div class="right_items">
							<div class="item_column">
								<img alt="img" src="{% static 'Galayko_App/images/mobile-icon.png' %}">
								<p class="item_column_text">(416) 555-0000</p>
							</div>
							<div class="item_column">
								<img alt="img" src="{% static 'Galayko_App/images/twitter-icon.png' %}">
								<p class="item_column_text">@escape</p>
							</div>
							<div class="item_column">
								<img alt="img" src="{% static 'Galayko_App/images/google+-icon.png' %}">
								<p class="item_column_text">plus.com/escape</p>
							</div>
						</div>

						<div class="left_items">
							<div class="item_column">
								<img alt="img" src="{% static 'Galayko_App/images/mail-icon.png' %}">
								<p class="item_column_text">hello@escape</p>
							</div>
							<div class="item_column">
								<img alt="img" src="{% static 'Galayko_App/images/facebook-icon.png' %}">
								<p class="item_column_text">facebook.com/escape</p>
							</div>
							<div class="item_column">
								<img alt="img" src="{% static 'Galayko_App/images/pinterest-icon.png' %}">
								<p class="item_column_text">pinterest.com/escape</p>
							</div>
						</div>
					</div>

				</div>

				<div class="footer_forms">
					<div class="your_name"><input type="text" name="yourname" class="yourname" placeholder="Your name"></div>
					<div class="your_email"><input type="text" name="yourname" class="yourname" placeholder="Your email"></div>
					<div class="your_message"><textarea name="yourname" id="yourmas" placeholder="Your Massage"></textarea></div>
				</div>

			</section>

			<section class="footer_closing">

				<h2>Site for Escape</h2>

			© 2014 Escape by FreebiesXpress • Made In Toronto
		</section>

		</div>

	</footer>

 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
 <script src="js/main.js"></script>
</body>
</html>